body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 1em auto;
    width: 600px;
    padding: 1em 2em 1em;
    border: 1px solid black;
    border-radius: 1em;
}
h1 {
    color: cornflowerblue;
}
div {
    margin-bottom: 1em;
}
th {
    text-align: left;
}
td {
    padding-right: 1em;
}
td:first-child {
    width: 90%;
}